

.maincontainer{
    align-content: center;
   margin: 5%;
   padding-right: 50%;
}

.search{
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 18px;
    height: 30px;
    width: 20%;
    
}
.city{
    
    display: table;
    padding: 0px;
    background-color: #30cf52;
    color: #fff;
    height: 100px;
    width: 40%;
    bottom: 0%;
    font-size: 90%;
    margin-right: 11%;
    
}











